a.page-link {
    border: none;
    background-color: transparent;
    color: #6c737f;
}

.active>.page-link, .page-link.active {
    background-color: transparent;
    color: #1a73ba;
    border: none;
}

